body {
  /* checkerboard bg */
  background-color: red;
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  
  /* allow app to fill whole screen */
  margin: 0;
}
#app-container {
  /**/
  background-color: white;
  border: none;
  
  /* full screen */
  height: 100vh; 
  width: 100vw;

  /* center if not full screen */
  margin: auto;

  /* alignment of children */
  display: flex;
  flex-flow: column;

  /* make children's reference for absolute be this div */
  position: relative;
}
/* don't grow broader than 1/1 */
@media (min-aspect-ratio: 1/1) {
  #app-container {
    width: 100vh;
  }
}
#fullscreen {
  font-size: xxx-large;
  position: absolute;
  z-index: 2;
}
#touch-capture {
  /* fill whole app-container */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* display on top but below overlay buttons */
  z-index: 1;

  /* debug, make it visible */
  /*
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  */
}
div.sheet-music {
  /* 200:75 aspect ratio */
  width: 100%;
  height: 0;
  padding-bottom: calc(100% * 75 / 200);
  /* highlight / border */
  position: relative;

  /* placeholder */
  text-align: center;
  font-size: xxx-large;
  /* removed checkerboard under pdf sheet because otherwise the fade in fade out is definitely more distracting */
  /* background-color: #ff9; */
  /* background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%); */
  background-color: #ffffff;
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
#lower-pdf, #upper-pdf{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
div.sheet-music-border {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 6px);
  height: calc(100% - 6px);

  background: transparent;

  transition-property: border;
  transition-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
}
#sheet-music-border-upper {
  border: 3px solid #9f9;
}
#sheet-music-border-lower {
  border: 3px solid transparent;
}
#video-display {
  /* fill space left over after sheet music diplays */
  flex: 1;

  /* make children use this as reference for absolute */
  position: relative;
}
div.video {
  position: absolute;
  width: 50%;
  height: 50%;

  /* debug */
  text-align: center;
  font-size: xxx-large;
  background: rgba(0,255,0,0.5);
}
.video > img {
  width: 100%;
  height: 100%;
}
#video-1 {
  top: 0;
  left: 0;
}
#video-2 {
  top: 0;
  right: 0;
}
#video-3 {
  bottom: 0;
  left: 0;
}
#video-4 {
  bottom: 0;
  right: 0;
}
div.overlay {
  position: absolute;

  border-width: 0px;

  /* display on top */
  z-index: 2;

  background: #eee;
}
#overlay-1 {
  top: 0;
  left: 0;
  border-style: none solid solid none;
}
#overlay-2 {
  top: 0;
  right: 0;
  border-style: none none solid solid;
}
#overlay-2 > img, #overlay-4 > img {
    width: 30px;
  }
#overlay-3 {
  bottom: 0;
  left: 0;
  border-style: solid solid none none;
}
#overlay-4 {
  bottom: 0;
  right: 0;
  border-style:  solid none none solid;
}
#overlay_ramis {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  cursor: pointer;
}

#text_ramis{
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#point1 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}
#point2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}
#point3 {
  position: absolute;
  top: 90%;
  left: 0;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}
#point4 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}
#point5 {
  position: absolute;
  top: 0;
  left: 90%;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}
#point6 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}
#point7 {
  position: absolute;
  top: 50%;
  left: 90%;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}
#point8 {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}
#point9 {
  position: absolute;
  top: 90%;
  left: 90%;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}

	
ul.nav-bar {
	width: 100%;
	background-color: #F0F8FA;
	color: black;
	padding: 6px;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
}

li.nav-bar-element {
	display: inline;
	padding-left: 6px;
	padding-right: 6px;
}
	